html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

header{
    background-color: #0e3969;
    padding: 15px;
    overflow: auto;
    border-bottom: 6px solid #5aa5e2;
}

header img{
    float: left;
    width: 10%;
    vertical-align: middle;
}

.title{
    float: left;
    text-align: center;
    font-size: 40pt;
    color: white;
    width: 80%;
}

.sign-out{
    float: right;
    width: 10%;
    color: white;
    text-align: center;
}

header form{
    float: right;
    width: 10%;
}

header form input{
    width: 90%;
}

header form label{
    color: white;
}

.registro{
    text-align: center;
    align-items: center;
    margin: 20;
}

.mensaje-registro{
    color: #0e3969;
}

.mensaje-registro a:link{
    color: #166aaf;
    text-decoration: none;
}

.mensaje-registro a:visited{
    color: #166aaf;
    text-decoration: none;
}

.body-container{
    width: 50%;
    height: 450px;
}

.left-container {
    background-image: url(imagenes/centrodeportivo.jpg);
    background-position-x: center;
    float: left;
    position: relative;
}

.left-container p{
    position: absolute;
    top: 0%;
    left: 13%;
    color: white;
    font-style: italic;
    font-size: 20pt;
}

.right-container{
    float: right;
    background-color: #166aaf;
    color: white;
    font-size: 17pt;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.right-container a{
    display: block;
    color: white;
    text-decoration: none;
    flex-grow: 1;
    padding-top: 2%;
}

.right-container a:hover{
    background-color: #0e3969;
}

.right-container a:active{
    opacity: 0.7;
}

footer{
    clear: both;
    text-align: center;
    background-color: #0e3969;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 6px solid #5aa5e2;
}

footer a:link{
    text-decoration: none;
}

footer a:visited{
    text-decoration: none;
}